<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Туры</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
    <link th:href="@{/styles/common.css}" rel="stylesheet"/>
    <link th:href="@{/styles/tour/tour-info-styles.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="full-dvh container p-3 vertical-flex">

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
    </symbol>
</svg>
<header th:insert="~{blocks/header :: header}"></header>
<main class="py-3 full-flex">
    <div th:object="${tour}" class="card mt-2">
        <div class="card-body">
            <h3 th:text="*{title}"></h3>
            <p th:text="*{description}"></p>
            <input id="hotel-toggle" type="checkbox" class="toggle-checkbox">
            <label for="hotel-toggle" class="toggle-label mb-2">Показать информацию об отеле</label>
            <div class="hotel-info mt-2">
                <h4 th:text="*{hotel.name}"></h4>
                <p th:text="*{hotel.description}"></p>
                <h5>Рейтинг отеля: <span th:text="*{hotel.rating}"></span></h5>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <h5><span th:text="*{price} + ' руб'"/></h5>
            <a sec:authorize="!isAuthenticated()" type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
               data-bs-target="#loginModal">
                Оставить заявку
            </a>
            <a sec:authorize="hasAuthority('CLIENT')" type="button" class="btn btn-sm btn-outline-primary"
               data-bs-toggle="modal" data-bs-target="#orderModal">
                Оставить заявку
            </a>
        </div>
    </div>
</main>
<footer th:insert="~{blocks/footer :: footer}"></footer>

<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Оставить заявку</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/orders}" th:method="POST">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="tourTitle" class="form-label">Название тура</label>
                        <input id="tourTitle" name="tourTitle" class="form-control" required th:value="${tour.title}"/>
                    </div>
                    <div class="mb-3">
                        <label for="numberOfPeople" class="form-label">Количество человек</label>
                        <input id="numberOfPeople" type="number" name="numberOfPeople" class="form-control"
                               placeholder="Введите количество человек" required max="${el.placeQuantity}"/>
                    </div>
                    <div class="mb-3">
                        <label for="customerName" class="form-label">Имя</label>
                        <input type="text" name="customer_name" class="form-control" id="customerName"
                               placeholder="Введите имя" required th:value="${user != null ? user.firstName : ''}">
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Номер телефона</label>
                        <input id="phoneNumber" type="tel" name="phoneNumber" class="form-control"
                               placeholder="Введите номер телефона" required
                               th:value="${user != null ? user.phone : ''}">
                    </div>
                    <div class="mb-3">
                        <label for="serviceName" class="form-label">Дополнительная услуга</label>
                        <select id="serviceName" name="serviceName" class="form-select">
                            <option value="">Нет дополнительной услуги</option>
                            <option th:each="el : ${additionalServices}" th:value="${el.name}"
                                    th:text="${el.name}"></option>
                        </select>
                    </div>
                    <input type="hidden" name="orderDate" th:value="${T(java.time.LocalDateTime).now()}">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary w-75">Отправить заявку</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Невозможно отправить заявку</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Чтобы отправить заявку, необходимо авторизоваться в системе.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <a th:href="@{/login}" th:methods="GET">
                    <button type="button" class="btn btn-outline-primary">Авторизация</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="successModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Успешно</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ваша заявка успешно создана.</p>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var successMessage = "[[${successMessage}]]";
        if (successMessage && successMessage.length > 0) {
            $('#successModal').modal('show');
        }
    });
</script>
</body>
</html>