<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Туры</title>
    <link rel="stylesheet" th:href="@{/styles/tour/tour-edit-styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container py-3">
    <header th:insert="~{blocks/header :: header}"></header>
    <div th:each="tour : ${tour}">
        <form th:action="@{/tours/{id}(id=${tour.id})}" th:method="PUT">
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="hotelName" class="form-label">Название отеля</label>
                    <div class="input-group">
                        <select name="hotelName" class="form-select" id="hotelName" required>
                            <option th:each="el : ${hotels}" th:value="${el.name}" th:text="${el.name}"></option>
                        </select>
                        <a class="btn btn-secondary text-white" data-toggle="modal" data-target="#addHotelModal">Добавить
                            новый</a>
                    </div>
                    <div class="invalid-feedback">Пожалуйста, выберите отель.</div>
                </div>

                <div class="col-md-6">
                    <label for="title" class="form-label">Название тура</label>
                    <input type="text" name="title" class="form-control" id="title" th:value="${tour.title}"
                           placeholder="Введите название тура" required>
                    <div class="invalid-feedback">Valid title is required.</div>
                </div>

                <div class="col-md-12">
                    <label for="description" class="form-label">Описание</label>
                    <input type="text" name="description" class="form-control" id="description"
                           th:value="${tour.description}"
                           required>
                    <div class="invalid-feedback">Пожалуйста, введите описание.</div>
                </div>

                <div class="col-md-6">
                    <label for="countryName" class="form-label">Страна</label>
                    <select name="countryName" class="form-select" id="countryName" required>
                        <option th:each="el : ${countries}" th:value="${el.name}"
                                th:text="${el.name}"></option>
                    </select>
                    <div class="invalid-feedback">Пожалуйста, выберите страну.</div>
                </div>

                <div class="col-md-6">
                    <label for="price" class="form-label">Стоимость</label>
                    <input type="number" step="0.01" name="price"
                           placeholder="Введите стоимость путёвки" class="form-control" th:value="${tour.price}"
                           id="price"
                           required max="100000">
                    <div class="invalid-feedback">Укажите стоимость.</div>
                </div>

                <div class="col-md-6">
                    <label for="placeQuantity" class="form-label">Количество мест</label>
                    <input type="number" name="placeQuantity" class="form-control" id="placeQuantity"
                           th:value="${tour.placeQuantity}" required min="1" max="15">
                    <div class="invalid-feedback">Пожалуйста, укажите количество мест.</div>
                </div>

                <div class="col-md-6">
                    <label for="startDate" class="form-label">Дата начала тура</label>
                    <input type="date" name="startDate" class="form-control" id="startDate"
                           th:value="${tour.checkInDate}"
                           required>
                    <div class="invalid-feedback">Пожалуйста, выберите дату начала тура.</div>
                </div>

                <div class="col-md-6">
                    <label for="endDate" class="form-label">Дата окончания тура</label>
                    <input type="date" name="endDate" class="form-control" id="endDate" th:value="${tour.checkOutDate}"
                           required>
                    <div class="invalid-feedback">Пожалуйста, выберите дату окончания тура.</div>
                </div>

                <div class="row mt-3 justify-content-center align-items-end">
                    <div class="col-md-4 text-center">
                        <button class="download-button w-100 py-2" type="submit">Применить</button>
                    </div>
                </div>
        </form>
    </div>
</div>

<div class="modal" id="addHotelModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <h5>Добавить новый отель</h5>
            <form action="/hotels/add" th:method="POST">
                <div class="mb-3">
                    <label for="hotelCountryName" class="form-label">Страна</label>
                    <select name="hotelCountryName" class="form-select" id="hotelCountryName" required>
                        <option th:each="el : ${countries}" th:value="${el.name}"
                                th:text="${el.name}"></option>
                    </select>
                    <div class="invalid-feedback">
                        Пожалуйста, выберите страну.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="newHotelName" class="form-label">Название отеля</label>
                    <input type="text" name="newHotelName" class="form-control" id="newHotelName"
                           placeholder="Введите название отеля" required>
                </div>
                <div class="mb-3">
                    <label for="newHotelDescription" class="form-label">Описание отеля</label>
                    <textarea name="newHotelDescription" class="form-control" id="newHotelDescription" rows="3"
                              required></textarea>
                </div>
                <div class="mb-3">
                    <label for="rate" class="form-label">Рейтинг</label>
                    <input type="number" step="0.1" name="rate"
                           placeholder="Введите рейтинг отеля" class="form-control" id="rate"
                           required min="1" max="5">
                    <div class="invalid-feedback">
                        Укажите рейтинг.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="download-button">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>
    var countrySelect = document.getElementById("countryName");
    var hotelSelect = document.getElementById("hotelName");

    countrySelect.addEventListener("change", function () {
        var selectedCountry = countrySelect.value;

        hotelSelect.innerHTML = "";

        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/hotels/" + selectedCountry, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var hotels = JSON.parse(xhr.responseText);

                hotels.forEach(function (hotel) {
                    addOption(hotel.name);
                });
            }
        };
        xhr.send();
    });

    function addOption(text) {
        var option = document.createElement("option");
        option.text = text;
        option.value = text;
        hotelSelect.appendChild(option);
    }

    hotelSelect.addEventListener("change", function () {
        var selectedHotel = hotelSelect.value;

    });
</script>

</body>
</html>