 .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal:target {
    display: block;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00abc2;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    border: none;
}

.download-button:hover {
    color: white;
    background-color: #007ba7;
}