h1 {
    text-align: center;
}

.user-info span {
    font-weight: bold;
}


.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 5px;
}

.col {
    display: flex;
    justify-content: space-between;
}

.form-group button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.table-spacing {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00abc2;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 10px; /* Добавьте отступы справа */
}

.download-button:last-child {
    margin-right: 0; /* Уберите отступ у последней кнопки */
}

.download-button:hover {
    color: white;
    background-color: #007ba7;
}
