.container {
    padding: 0;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.filter-wrapper {
    position: relative;
    display: inline-block;
}

.filter-wrapper:hover .btn-primary {
    border: 1px solid black;
}

.filter-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
}

.filter-form {
    display: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.filter-toggle:checked + .filter-dropdown .filter-form {
    display: block;
}

.filter-toggle {
    display: none;
}

.text-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-primary {
    background-color: transparent !important;
    border: none;
    margin-left: auto;
}

.btn-primary svg {
    fill: #000000;
}

.opaque-button {
    opacity: 1;
    text-color: #000000;
    border: 1px solid black;
}

.opaque-button:hover {
    border: 1px solid black;
}

.filter-form {
    width: 300px;
}

.tour-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options-dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    top: 100%;
    right: 0;
    display: none;
}

.options-dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-small {
    display: block;
    width: 100%;
    text-align: left;
    padding: 4px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.options-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.dropdown-content a.btn,
.dropdown-content button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 4px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00abc2;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.download-button:hover {
    color: white;
    background-color: #007ba7;
}

