<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="eng">
<head>
    <title>Личный кабинет</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles/user/account-styles.css}">
</head>
<body>
<div class="container py-3">
    <header th:insert="~{blocks/header :: header}"></header>

    <div class="row justify-content-center">
        <div th:object="${user}" class="col-md-6">
            <h1>Личный кабинет</h1>

            <table class="table table-bordered table-info table-spacing mt-3">
                <tbody>
                <tr>
                    <td class="rounded-start">Имя:</td>
                    <td class="rounded-end" th:text="*{firstName}"></td>
                </tr>
                <tr>
                    <td class="rounded-start">Фамилия:</td>
                    <td class="rounded-end" th:text="*{lastName}"></td>
                </tr>
                <tr>
                    <td class="rounded-start">Номер телефона:</td>
                    <td class="rounded-end" th:text="*{phone}"></td>
                </tr>
                <tr>
                    <td class="rounded-start">Email:</td>
                    <td class="rounded-end" th:text="*{email}"></td>
                </tr>
                </tbody>
            </table>

            <div class="row mt-3 g-2">
                <!-- Все кнопки в одном общем контейнере -->
                <div class="col-sm-6" th:if="*{id}">
                    <a th:href="@{/users/account/{userId}/edit(userId=*{id})}" class="download-button w-100 d-flex align-items-center justify-content-center">Редактировать информацию</a>
                </div>

                <div class="col-sm-6" sec:authorize="hasAuthority('CLIENT')">
                    <a th:href="@{/bookings/{userId}(userId=*{id})}" class="download-button w-100 d-flex align-items-center justify-content-center">История путешествий</a>
                </div>

                <div class="col-sm-6" sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')">
                    <a th:href="@{/orders}" class="download-button w-100 d-flex align-items-center justify-content-center">Просмотр заявок</a>
                </div>

                <div class="col-sm-6" sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')">
                    <a th:href="@{/statistics}" class="download-button w-100 d-flex align-items-center justify-content-center">Просмотр аналитики</a>
                </div>

                <div class="col-sm-6" sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/users}" class="download-button w-100 d-flex align-items-center justify-content-center">Просмотр пользователей</a>
                </div>

                <div class="col-sm-6" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="POST" class="h-100">
                        <button type="submit" class="download-button w-100 d-flex align-items-center justify-content-center">Выход</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="~{blocks/footer :: footer}"></footer>
</div>
</body>
</html>