<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменение пароля</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/styles/user/edit-password-styles.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">
<div class="container py-10">
    <header th:insert="~{blocks/header :: header}"></header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Изменение пароля</h1>
    </div>
    <main class="form-signin w-50 m-auto">
        <form th:action="@{/edit-password}" th:method="POST">
            <h1 class="h3 mb-3 fw-normal">Создайте новый пароль</h1>
            <input type="hidden" name="userEmail" th:value="${userEmail}"/>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="floatingInput" name="password">
                <label for="floatingInput">Новый пароль</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control mb-2" id="floatingPassword" name="copyPassword">
                <label for="floatingPassword">Повторите пароль</label>
            </div>

            <div th:if="${errorMessage}" class="form-container">
                <div class="error-message">
                    <p th:text="${errorMessage}"></p>
                </div>
            </div>
            <button class="download-button w-100 py-2" type="submit">Изменить пароль</button>
        </form>
    </main>

    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</div>
</body>
</html>
