<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
    <link rel="stylesheet" th:href="@{/styles/user/registration-styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">

<div class="container">
    <header th:insert="~{blocks/header :: header}"></header>
    <main class="form-signin w-50 m-auto">
        <form th:action="@{/account/{id}/edit(id=${user.id})}" th:method="PUT" th:object="${user}">
            <h1 class="h3 mb-3 fw-normal">Введите данные пользователя</h1>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="">
                <label for="firstName">Имя</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="">
                <label for="lastName">Фамилия</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="phone" th:field="*{phone}" placeholder="+XXXXXXXXXXXX">
                <label for="phone">Номер телефона</label>
            </div>
            <div class="form-floating mb-2">
                <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="name@example.com">
                <label for="email">Адрес электронной почты</label>
            </div>

            <button class="download-button w-100 py-2" type="submit">Сохранить изменения</button>
            <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
        </form>
    </main>
</div>
</body>
</html>