<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Восстановление пароля</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/styles/user/verification-styles.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="theme-color" content="#712cf9">
</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">
<div class="container py-10">
    <header th:insert="blocks/header :: header"></header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h3 class="display-4 fw-normal text-body-emphasis">Введите email</h3>
    </div>
    <main class="form-sign in w-50 m-auto">
        <form th:action="@{/verification}" th:method="POST">
            <h1 class="h3 mb-3 fw-normal">Вам придёт письмо с четырёхзначным кодом</h1>
            <div class="form-floating mb-2">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <div th:if="${errorMessage}" class="form-container">
                <div class="error-message">
                    <p th:text="${errorMessage}"></p>
                </div>
            </div>
            <button class="download-button w-100 py-2" type="submit">Получить код</button>
        </form>
    </main>
</div>
</body>
</html>