<div th:fragment="footer">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      </div>
      <div class="col-6 col-md">
        <h6>HITravel</h6>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/">Главная</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/tour">Туры</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/services">Дополнительные услуги</a></li>
        </ul>
      </div>
  </footer>
</div>