<div th:fragment="header"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     lang="en">
    <link rel="stylesheet" th:href="@{/styles/blocks/header-styles.css}">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a th:href="@{/home}" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                <path fill="#007ba7"
                      d="M12 21q-1.863 0-3.506-.71t-2.857-1.927Q4.42 17.148 3.71 15.506Q3 13.863 3 12t.71-3.506q.711-1.642 1.927-2.857Q6.852 4.42 8.494 3.71Q10.137 3 12 3q3.496 0 6.032 2.307t2.903 5.699h-1.012q-.263-2.171-1.568-3.897Q17.05 5.383 15 4.562V5q0 .825-.587 1.413T13 7h-2v2q0 .425-.288.713T10 10H8v2h1.846v3H9l-4.8-4.8q-.075.45-.137.9T4 12q0 3.275 2.3 5.625T12 20zm9.023-.27l-3.45-3.41q-.448.318-.971.5q-.523.18-1.102.18q-1.471 0-2.486-1.014Q12 15.97 12 14.5q0-1.471 1.014-2.486Q14.03 11 15.5 11q1.471 0 2.486 1.014Q19 13.03 19 14.5q0 .598-.19 1.13q-.19.533-.53.982l3.45 3.411zM15.5 17q1.05 0 1.775-.725T18 14.5q0-1.05-.725-1.775T15.5 12q-1.05 0-1.775.725T13 14.5q0 1.05.725 1.775T15.5 17"/>
            </svg>
            <span class="fs-4">Антур</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 nav-link text-decoration-none" th:href="@{/tours}">Туры</a>
            <a class="me-3 py-2 nav-link text-decoration-none" th:href="@{/additionalServices}">Дополнительные услуги</a>

            <a class="w-60 btn btn-sm download-button-enter d-flex justify-content-center"
               th:href="@{/users/account}">
                <div class="align-self-center">Личный кабинет</div>
            </a>
            <div style="margin-left: 10px;"></div>
            <a sec:authorize="!isAuthenticated()" type="button"
               class="w-60 btn btn-sm download-button-enter d-flex justify-content-center" th:href="@{/users/login}">
                <div class="align-self-center">Войти</div>
            </a>
            <form th:action="@{/logout}" th:method="POST">
                <button sec:authorize="isAuthenticated()" type="submit"
                        class="btn btn-sm download-button d-flex justify-content-center">Выйти</button>
            </form>
        </nav>
    </div>
</div>
